@font-face {
	font-family: 'neuropolxfree';
	src: url('../fonts/neuropolxfree.eot');
	src: local('☺'), url('../fonts/neuropolxfree.woff') format('woff'), url('../fonts/neuropolxfree.ttf') format('truetype'), url('../fonts/neuropolxfree.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'AndroidInsomnia';
    src: url('../fonts/AndroidInsomniaRegular.eot');
    src: local('☺'), url('../fonts/AndroidInsomniaRegular.woff') format('woff'), url('../fonts/AndroidInsomniaRegular.ttf') format('truetype'), url('../fonts/AndroidInsomniaRegular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*----------------background-----------------*/
.fullscreen-bg {
    overflow: hidden;
    z-index: -100;
    position: relative;
    height: 100%;
    width: 100%;
    padding-top:45%;
}
.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}
/*----------------background-----------------*/
.form-container {
    position: absolute;
    top: 50px;
    right: 750px;
    left: 0;
    bottom: 0;
    margin: auto;
    border: 2px solid #436fea;
    width: 600px;
    height: 500px;
    font-family: 'neuropolxfree';
    color: white;
    font-size: 15px;
}
.input-form-container {
    position: absolute;
    top: 0;
    right: 0;
    left: 650px;
    bottom: 550px;
    margin: auto;
    width: 460px;
    height: 80px;
    font-family: 'neuropolxfree';
    color: white;
    font-size: 15px;
}
pre {
    font-family: 'AndroidInsomnia';
    color: white;
    margin-top: 20px;
    line-height: 1.5;
    letter-spacing: 0.05rem;
    padding: 1rem;
    background-color: #012F80;
}
label {
    width: 200px;
    margin-right: 33px;
}
select {
    width: 350px;
    padding: 5px;
    margin-bottom: 30px;
    font-family: 'AndroidInsomnia';
    background-color: #022365;
    color:white;
}
.form {
    position: absolute;
    top:50px;
}
.x_handler {
    width: 360px;
    margin-bottom: 5px;
    color: blue;
}
.y_handler {
    width: 360px;
}
.colortext {
    background-color: #26021E;
    color:white;
}
.sub_button {
    display:inline-block;
    position: absolute;
    width: 90px;
    height: 25px;
    margin-left: 370px;
    margin-top: -30px;
    background-color: #F40CF4;
    border-radius: 8px;
    color:white;
}
.graph-container {
    position: absolute;
    left: 850px;
    bottom: 68px;
    border: 2px solid #436fea;

}
